
.wrapper__title {
    width: 500px;
    height: 50px;
    background: cornsilk;
    animation-name: title-right;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;

}

.a {
    width: 100px;
    height: 100px;
    background: green;
    animation-name: aa;
    animation-duration: 1s;
    animation-iteration-count: infinite;

}
.b {
    width: 100px;
    height: 100px;
    background: yellow;
    animation-name: bb;
    animation-duration: 1s;
    animation-iteration-count: infinite;

}
.c {
    width: 100px;
    height: 100px;
    background:red;
    animation-name: cc;
    animation-duration: 1s;
    animation-iteration-count: infinite;

}
.text{
    margin: 0 auto;
    display: flex;
    justify-content:space-around;
}
p{
    text-align: center;
}
/*@keyframes aa{
    from {

    }
    to {
            width: 750px;
            background: orange;
    }
}
@keyframes bb {
    from {

    }
    to {
            width: 600px;
            background: red;
    }
}
@keyframes cc {
    from {

    }
    to {
            width: 500px;
            background: green;
    }
}


@keyframes title-right{
    from {

    }
    to {
            width: 900px;
            background: rgb(64, 0, 214);
    }
}